<div class="card" style="background: rgb(26,29,33);">
    <div class="card-body" style="padding: 15px;">
        <div>
            <h4>{Server_name}</h4>
            <p>{Server_status}</p>
        </div>
        <div>
            <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="margin: 5px;background: var(--bs-teal);border-style: none;">Start</button><button class="btn btn-primary" type="button" style="margin: 5px;background: var(--bs-red);border-style: none;">Stop</button></div>
        </div>
    </div>
</div>