<footer class="text-center bg-dark" style="position: relative;bottom: 0px;">
    <div class="container text-white py-4 py-lg-5">
        <p class="text-muted mb-0">&nbsp;2022 NodeRex</p>
    </div>
</footer>